.chapter {
  display: flex;
  justify-content: flex-end;
  -webkit-background-clip: text;
  background-clip: text;
  opacity: 0%;
  padding-right: 40px;
}

.chapter {
  opacity: 100%;
}

@media (min-width: 0px) and (max-width: 1000px) {
  .chapter {
    display: flex;
    justify-content: center;
    padding-right: 0px;
  }
}

.chapter.one {
  display: flex;
  align-items: center;
  width: 100%;
  height: 115px;
  flex-shrink: 0;
  background: url("/src/img/art/1.jpg") center/cover no-repeat;
  transition-duration: 0.5s;
  transition-delay: 0.1s;
}

.chapter.one:hover {
  display: flex;
  align-items: center;
  width: 100%;
  height: 172px;
  flex-shrink: 0;
  display: flex;
  position: relative;
  align-items: center;
  background: url("/src/img/art/1.jpg") center/cover no-repeat;
}

.chapter.two {
  display: flex;
  align-items: center;
  width: 100%;
  height: 115px;
  flex-shrink: 0;
  background: url("/src/img/art/2.jpg") center/cover no-repeat;
  transition-duration: 0.5s;
  transition-delay: 0.1s;
}

.chapter.two:hover {
  display: flex;
  align-items: center;
  width: 100%;
  height: 172px;
  flex-shrink: 0;
  display: flex;
  position: relative;
  align-items: center;
  background: url("/src/img/art/2.jpg") center/cover no-repeat;
}

.chapter.three {
  display: flex;
  align-items: center;
  width: 100%;
  height: 115px;
  flex-shrink: 0;
  background: url("/src/img/art/3.jpg") center/cover no-repeat;
  transition-duration: 0.5s;
  transition-delay: 0.1s;
}

.chapter.three:hover {
  display: flex;
  align-items: center;
  width: 100%;
  height: 172px;
  flex-shrink: 0;
  display: flex;
  position: relative;
  align-items: center;
  background: url("/src/img/art/3.jpg") center/cover no-repeat;
}

.chapter.four {
  display: flex;
  align-items: center;
  width: 100%;
  height: 115px;
  flex-shrink: 0;
  background: url("/src/img/art/4.jpg") center/cover no-repeat;
  transition-duration: 0.5s;
  transition-delay: 0.1s;
}

.chapter.four:hover {
  display: flex;
  align-items: center;
  width: 100%;
  height: 172px;
  flex-shrink: 0;
  display: flex;
  position: relative;
  align-items: center;
  background: url("/src/img/art/4.jpg") center/cover no-repeat;
}

.chapter.five {
  display: flex;
  align-items: center;
  width: 100%;
  height: 115px;
  flex-shrink: 0;
  background: url("/src/img/art/5.jpg") center/cover no-repeat;
  transition-duration: 0.5s;
  transition-delay: 0.1s;
}

.chapter.five:hover {
  display: flex;
  align-items: center;
  width: 100%;
  height: 172px;
  flex-shrink: 0;
  display: flex;
  position: relative;
  align-items: center;
  background: url("/src/img/art/5.jpg") center/cover no-repeat;
}

.chapter.six {
  display: flex;
  align-items: center;
  width: 100%;
  height: 115px;
  flex-shrink: 0;
  background: url("/src/img/art/6.jpg") center/cover no-repeat;
  transition-duration: 0.5s;
  transition-delay: 0.1s;
}

.chapter.six:hover {
  display: flex;
  align-items: center;
  width: 100%;
  height: 172px;
  flex-shrink: 0;
  display: flex;
  position: relative;
  align-items: center;
  background: url("/src/img/art/6.jpg") center/cover no-repeat;
}

.chapter.seven {
  display: flex;
  align-items: center;
  width: 100%;
  height: 115px;
  flex-shrink: 0;
  background: url("/src/img/art/7.jpg") center/cover no-repeat;
  transition-duration: 0.5s;
  transition-delay: 0.1s;
}

.chapter.seven:hover {
  display: flex;
  align-items: center;
  width: 100%;
  height: 172px;
  flex-shrink: 0;
  display: flex;
  position: relative;
  align-items: center;
  background: url("/src/img/art/7.jpg") center/cover no-repeat;
}

.chapter.eight {
  display: flex;
  align-items: center;
  width: 100%;
  height: 115px;
  flex-shrink: 0;
  background: url("/src/img/art/8.jpg") center/cover no-repeat;
  transition-duration: 0.5s;
  transition-delay: 0.1s;
}

.chapter.eight:hover {
  display: flex;
  align-items: center;
  width: 100%;
  height: 172px;
  flex-shrink: 0;
  display: flex;
  position: relative;
  align-items: center;
  background: url("/src/img/art/8.jpg") center/cover no-repeat;
}

.chapter.nine {
  display: flex;
  align-items: center;
  width: 100%;
  height: 115px;
  flex-shrink: 0;
  background: url("/src/img/art/9.jpg") center/cover no-repeat;
  transition-duration: 0.5s;
  transition-delay: 0.1s;
}

.chapter.nine:hover {
  display: flex;
  align-items: center;
  width: 100%;
  height: 172px;
  flex-shrink: 0;
  display: flex;
  position: relative;
  align-items: center;
  background: url("/src/img/art/9.jpg") center/cover no-repeat;
}

.photo-title {
  margin-top: 50px;
}

.image-back {
  display: flex;
  align-items: center;
  width: 100%;
  height: 30vh;
  flex-shrink: 0;
  display: flex;
  position: absolute;
  align-items: center;
  background: url("/src/img/art/1.jpg") center/cover no-repeat;
  transition-duration: 0.5s;
  opacity: 0;
}

.photo-title:hover .image-back {
  display: flex;
  align-items: center;
  width: 100%;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  background: url("/src/img/art/1.jpg") center/cover no-repeat;
  opacity: 1;
}

.projects-classes {
  background-color: #fff;
}
