.swiper-container {
  width: 100%;
  margin: auto;
  position: relative;
}

.swiper-wrapper {
  margin-top: 62px;
  display: flex;
  align-items: center;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  padding-top: 5%;
  max-height: 80vh;
  max-width: 90%;
  height: auto;
  width: auto;
  object-fit: cover;
}

.swiper-pagination {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.swiper-pagination-bullet {
  border: 1px solid #585858;
  width: 10px;
  opacity: 0.2;
  border-radius: 100;
  overflow: hidden;
  transition: opacity 0.3s;
}

.swiper-pagination-bullet img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-pagination-bullet-active {
  opacity: 1;
}
