.l-projects {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.l-about {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
}

.l-introduction {
  margin-top: 60px;
  background-color: white;
  display: flex;
  flex-direction: column;
}

@media (min-width: 0px) and (max-width: 1000px) {
  .l-introduction {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }
}
